*{
    margin: 0;
}
.header{
    position: fixed;
    background-color: #05153acc;
    width: 1516px;
    height: 64px;
    justify-content: space-between;
    padding: 10px;
}
.h1head{
    color: #ADC6FF;
    font-weight: 600px;
    font-size: 24px;
}
.blue{
    color: #C2C6D6;
    font-size: 14px;
}
.bighead{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
}
.minihead{
    display: flex;
    align-items: center;
    gap: 30px;
}
.pages{
    display: flex;
    gap: 15px;
}
.ava{
    display: flex;
    gap: 20px;
    align-items: center;
}